In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [33]:
df = pd.read_csv('sampled_dataset_reduced.csv')

In [3]:
df1 = df.copy()

In [4]:
df

,FOD_ID,NWCG_REPORTING_AGENCY,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY
0,2,FS,Eldorado National Forest,PIGEON,2004,2004-05-12,845.0,1.0,Lightning,2004-05-12,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61
1,4,FS,Eldorado National Forest,DEER,2004,2004-06-28,1600.0,1.0,Lightning,2004-07-03,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3
2,5,FS,Eldorado National Forest,STEVENOT,2004,2004-06-28,1600.0,1.0,Lightning,2004-07-03,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3
3,6,FS,Eldorado National Forest,HIDDEN,2004,2004-06-30,1800.0,1.0,Lightning,2004-07-01,1600.0,0.10,A,38.635278,-120.103611,USFS,CA,5
4,7,FS,Eldorado National Forest,FORK,2004,2004-07-01,1800.0,1.0,Lightning,2004-07-02,1400.0,0.10,A,38.688333,-120.153333,USFS,CA,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593373,300348260,ST/C&L,CDF - San Bernardino Unit,YUCCA 2,2015,2015-07-25,1943.0,7.0,Arson,NaN,NaN,0.50,B,34.244444,-116.658889,UNDEFINED FEDERAL,CA,NaN
593374,300348276,ST/C&L,Lassen-Modoc Unit,1-1 PAIUTE,2015,2015-06-26,1752.0,1.0,Lightning,2015-06-26,2014.0,0.05,A,40.443000,-120.664433,STATE OR PRIVATE,CA,NaN
593375,300348290,ST/C&L,Santa Clara Unit,Z680,2015,2015-06-27,337.0,7.0,Arson,NaN,NaN,0.10,A,38.041150,-121.985283,UNDEFINED FEDERAL,CA,NaN
593376,300348354,ST/C&L,Shasta-Trinity Unit,CARR,2015,2015-09-30,2357.0,7.0,Arson,2015-10-01,56.0,1.00,B,40.588583,-123.069617,STATE OR PRIVATE,CA,NaN
593377,300348361,ST/C&L,Humboldt-Del Norte Unit,1-64,2015,2015-08-01,1331.0,1.0,Lightning,2015-08-06,1000.0,4.00,B,40.244833,-123.544167,UNDEFINED FEDERAL,CA,NaN

In [5]:
total= df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending = False)
missing_data = pd.concat([total, percent], axis=1, keys = ['Total missing values', 'Percentage of missing values'])
missing_data

                            Total missing values  Percentage of missing values
FIRE_NAME                                 263241                      0.443631
COUNTY                                    245629                      0.413950
CONT_TIME                                 226188                      0.381187
CONT_DATE                                 210814                      0.355278
DISCOVERY_TIME                            203216                      0.342473
STAT_CAUSE_CODE                                0                      0.000000
NWCG_REPORTING_AGENCY                          0                      0.000000
SOURCE_REPORTING_UNIT_NAME                     0                      0.000000
FIRE_YEAR                                      0                      0.000000
DISCOVERY_DATE                                 0                      0.000000
STAT_CAUSE_DESCR                               0                      0.000000
STATE                                          0                      0.000000
FIRE_SIZE                                      0                      0.000000
FIRE_SIZE_CLASS                                0                      0.000000
LATITUDE                                       0                      0.000000
LONGITUDE                                      0                      0.000000
OWNER_DESCR                                    0                      0.000000
FOD_ID                                         0                      0.000000

## Code to fill in the missing values for CONT_DATE and CONT_TIME

In [6]:
df["STAT_CAUSE_DESCR"].value_counts().head(20)

Arson        281455
Lightning    278468
Railroad      33455
Name: STAT_CAUSE_DESCR, dtype: int64

In [7]:
df["FIRE_SIZE_CLASS"].value_counts().head(20)

B    258904
A    223653
C     84554
D     12561
E      6793
F      4320
G      2593
Name: FIRE_SIZE_CLASS, dtype: int64

In [8]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'FIRE_SIZE_CLASS', 'STAT_CAUSE_DESCR'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [9]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'FIRE_SIZE_CLASS'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [10]:
df1['CONT_DATE'].isna().value_counts()

False    572305
True      21073
Name: CONT_DATE, dtype: int64

In [11]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'STAT_CAUSE_DESCR'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [12]:
df1['CONT_DATE'].isna().value_counts()

False    588741
True       4637
Name: CONT_DATE, dtype: int64

In [13]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [14]:
df1['CONT_DATE'].isna().value_counts()

False    589932
True       3446
Name: CONT_DATE, dtype: int64

In [15]:
CONT_DATE = df1.loc[:, 'CONT_DATE']
missing_cont_date = df1.loc[CONT_DATE.isnull() == True, :]

In [16]:
missing_cont_date.shape

(3446, 18)

In [17]:
for index, rows in missing_cont_date.iterrows():
    cont_date = df1.at[index,'DISCOVERY_DATE']
    df1.at[index,'CONT_DATE'] = cont_date

In [18]:
df1['CONT_DATE'].isna().value_counts()

False    593378
Name: CONT_DATE, dtype: int64

### Filling missing values for CONT_TIME

In [19]:
df1['CONT_TIME'] = df1.groupby(['DISCOVERY_DATE', 'CONT_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [20]:
df1['CONT_TIME'].isna().value_counts()

False    588522
True       4856
Name: CONT_TIME, dtype: int64

In [21]:
df1['CONT_TIME'] = df1.groupby(['CONT_DATE', 'STAT_CAUSE_DESCR','FIRE_SIZE_CLASS' ])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [22]:
df1['CONT_TIME'].isna().value_counts()

False    589853
True       3525
Name: CONT_TIME, dtype: int64

In [23]:
df1['CONT_TIME'] = df1.groupby(['CONT_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [24]:
df1['CONT_TIME'].isna().value_counts()

False    590869
True       2509
Name: CONT_TIME, dtype: int64

In [25]:
df1['CONT_TIME'] = df1.groupby(['DISCOVERY_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [26]:
df1['CONT_TIME'].isna().value_counts()

False    590962
True       2416
Name: CONT_TIME, dtype: int64

In [27]:
df1['CONT_TIME'] = df1.groupby(['FIRE_SIZE_CLASS'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [28]:
df1['CONT_TIME'].isna().value_counts()

False    593378
Name: CONT_TIME, dtype: int64

In [29]:
df1.shape

(593378, 18)

In [30]:
df1.head()

,FOD_ID,NWCG_REPORTING_AGENCY,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY
0,2,FS,Eldorado National Forest,PIGEON,2004,2004-05-12,845.0,1.0,Lightning,2004-05-12,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61
1,4,FS,Eldorado National Forest,DEER,2004,2004-06-28,1600.0,1.0,Lightning,2004-07-03,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3
2,5,FS,Eldorado National Forest,STEVENOT,2004,2004-06-28,1600.0,1.0,Lightning,2004-07-03,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3
3,6,FS,Eldorado National Forest,HIDDEN,2004,2004-06-30,1800.0,1.0,Lightning,2004-07-01,1600.0,0.10,A,38.635278,-120.103611,USFS,CA,5
4,7,FS,Eldorado National Forest,FORK,2004,2004-07-01,1800.0,1.0,Lightning,2004-07-02,1400.0,0.10,A,38.688333,-120.153333,USFS,CA,17

In [31]:
df1.to_csv('dataset_filled_contdate_time.csv', index= False)