In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('sampled_dataset_reduced.csv')

In [3]:
df1 = df.copy()

In [4]:
df

,FOD_ID,NWCG_REPORTING_AGENCY,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY
0,46487,FS,Salmon-Challis National Forest,NaN,1992,1992-06-20,1035.0,1.0,Lightning,1992-06-20,1336.0,0.1,A,45.308333,-114.475000,USFS,ID,NaN
1,242377,BLM,Rock Springs Field Office,MARYSFIRST,1992,1992-08-21,1428.0,1.0,Lightning,1992-08-22,1800.0,0.1,A,41.416600,-109.234000,BLM,WY,NaN
2,49259,FS,Shasta-Trinity National Forest,NaN,1992,1992-06-24,1135.0,1.0,Lightning,1992-06-24,1800.0,0.1,A,40.730000,-122.475000,USFS,CA,NaN
3,50588,FS,Malheur National Forest,NaN,1992,1992-08-01,1538.0,1.0,Lightning,1992-08-01,2200.0,0.1,A,44.296667,-118.738333,USFS,OR,NaN
4,222205,BLM,Susanville District,HORSE,1992,1992-06-28,1100.0,1.0,Lightning,1992-06-28,1324.0,0.1,A,40.666600,-120.484400,BLM,CA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376096,300286438,ST/C&L,Arizona State Forestry Division - State Office,154356,2015,2015-03-16,NaN,13.0,Missing/Undefined,2015-03-16,1800.0,0.1,A,33.493680,-112.277619,MISSING/NOT SPECIFIED,AZ,NaN
376097,300287009,ST/C&L,San Mateo-Santa Cruz Unit,NaN,2015,2015-04-23,1321.0,13.0,Missing/Undefined,2015-04-23,1334.0,1.0,B,37.414050,-122.193200,MISSING/NOT SPECIFIED,CA,SAN MATEO
376098,300307593,ST/C&L,Butte Unit,18TH ST / OROVILLE DAM BL,2015,2015-08-12,1246.0,13.0,Missing/Undefined,2015-08-12,1300.0,0.1,A,39.501869,-121.605211,MISSING/NOT SPECIFIED,CA,BUTTE
376099,300288242,ST/C&L,Arizona State Forestry Division - State Office,153500,2015,2015-07-11,NaN,13.0,Missing/Undefined,2015-07-11,1800.0,0.1,A,32.230100,-110.798700,MISSING/NOT SPECIFIED,AZ,NaN
376100,300285954,ST/C&L,Arizona State Forestry Division - State Office,15-015,2015,2015-01-25,1255.0,13.0,Missing/Undefined,2015-01-25,1800.0,0.1,A,34.255000,-109.692500,MISSING/NOT SPECIFIED,AZ,NaN

In [5]:
total= df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending = False)
missing_data = pd.concat([total, percent], axis=1, keys = ['Total missing values', 'Percentage of missing values'])
missing_data

                            Total missing values  Percentage of missing values
CONT_TIME                                 194334                      0.516707
FIRE_NAME                                 192151                      0.510903
CONT_DATE                                 178211                      0.473838
DISCOVERY_TIME                            176408                      0.469044
COUNTY                                    135724                      0.360871
STAT_CAUSE_CODE                                0                      0.000000
NWCG_REPORTING_AGENCY                          0                      0.000000
SOURCE_REPORTING_UNIT_NAME                     0                      0.000000
FIRE_YEAR                                      0                      0.000000
DISCOVERY_DATE                                 0                      0.000000
STAT_CAUSE_DESCR                               0                      0.000000
STATE                                          0                      0.000000
FIRE_SIZE                                      0                      0.000000
FIRE_SIZE_CLASS                                0                      0.000000
LATITUDE                                       0                      0.000000
LONGITUDE                                      0                      0.000000
OWNER_DESCR                                    0                      0.000000
FOD_ID                                         0                      0.000000

## Visualization

## Code to fill in the missing values for CONT_DATE and CONT_TIME

In [6]:
df["STAT_CAUSE_DESCR"].value_counts().head(20)

Debris Burning       85807
Miscellaneous        64763
Arson                56290
Lightning            55695
Missing/Undefined    33345
Equipment Use        29525
Campfire             15225
Children             12232
Smoking              10575
Railroad              6693
Powerline             2892
Fireworks             2300
Structure              759
Name: STAT_CAUSE_DESCR, dtype: int64

In [7]:
df["FIRE_SIZE_CLASS"].value_counts().head(20)

B    187979
A    133361
C     43848
D      5685
E      2886
F      1597
G       745
Name: FIRE_SIZE_CLASS, dtype: int64

In [8]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'FIRE_SIZE_CLASS', 'STAT_CAUSE_DESCR'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [9]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'FIRE_SIZE_CLASS'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [10]:
df1['CONT_DATE'].isna().value_counts()

False    340989
True      35112
Name: CONT_DATE, dtype: int64

In [11]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE', 'STAT_CAUSE_DESCR'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [12]:
df1['CONT_DATE'].isna().value_counts()

False    356935
True      19166
Name: CONT_DATE, dtype: int64

In [13]:
df1['CONT_DATE'] = df1.groupby(['DISCOVERY_DATE'])['CONT_DATE'].apply(lambda x: x.fillna(method='ffill'))

In [14]:
df1['CONT_DATE'].isna().value_counts()

False    363491
True      12610
Name: CONT_DATE, dtype: int64

In [15]:
CONT_DATE = df1.loc[:, 'CONT_DATE']
missing_cont_date = df1.loc[CONT_DATE.isnull() == True, :]

In [16]:
missing_cont_date.shape

(12610, 18)

In [17]:
for index, rows in missing_cont_date.iterrows():
    cont_date = df1.at[index,'DISCOVERY_DATE']
    df1.at[index,'CONT_DATE'] = cont_date

In [18]:
df1['CONT_DATE'].isna().value_counts()

False    376101
Name: CONT_DATE, dtype: int64

### Filling missing values for CONT_TIME

In [19]:
df1['CONT_TIME'] = df1.groupby(['DISCOVERY_DATE', 'CONT_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [20]:
df1['CONT_TIME'].isna().value_counts()

False    360997
True      15104
Name: CONT_TIME, dtype: int64

In [21]:
df1['CONT_TIME'] = df1.groupby(['CONT_DATE', 'STAT_CAUSE_DESCR','FIRE_SIZE_CLASS' ])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [22]:
df1['CONT_TIME'].isna().value_counts()

False    362293
True      13808
Name: CONT_TIME, dtype: int64

In [23]:
df1['CONT_TIME'] = df1.groupby(['CONT_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [24]:
df1['CONT_TIME'].isna().value_counts()

False    364708
True      11393
Name: CONT_TIME, dtype: int64

In [25]:
df1['CONT_TIME'] = df1.groupby(['DISCOVERY_DATE'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [26]:
df1['CONT_TIME'].isna().value_counts()

False    364880
True      11221
Name: CONT_TIME, dtype: int64

In [27]:
df1['CONT_TIME'] = df1.groupby(['FIRE_SIZE_CLASS'])['CONT_TIME'].apply(lambda x: x.fillna(method='ffill'))

In [28]:
df1['CONT_TIME'].isna().value_counts()

False    376101
Name: CONT_TIME, dtype: int64

In [31]:
df1.shape

(376101, 18)

In [32]:
df1.head()

,FOD_ID,NWCG_REPORTING_AGENCY,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY
0,46487,FS,Salmon-Challis National Forest,NaN,1992,1992-06-20,1035.0,1.0,Lightning,1992-06-20,1336.0,0.1,A,45.308333,-114.475000,USFS,ID,NaN
1,242377,BLM,Rock Springs Field Office,MARYSFIRST,1992,1992-08-21,1428.0,1.0,Lightning,1992-08-22,1800.0,0.1,A,41.416600,-109.234000,BLM,WY,NaN
2,49259,FS,Shasta-Trinity National Forest,NaN,1992,1992-06-24,1135.0,1.0,Lightning,1992-06-24,1800.0,0.1,A,40.730000,-122.475000,USFS,CA,NaN
3,50588,FS,Malheur National Forest,NaN,1992,1992-08-01,1538.0,1.0,Lightning,1992-08-01,2200.0,0.1,A,44.296667,-118.738333,USFS,OR,NaN
4,222205,BLM,Susanville District,HORSE,1992,1992-06-28,1100.0,1.0,Lightning,1992-06-28,1324.0,0.1,A,40.666600,-120.484400,BLM,CA,NaN

In [33]:
df1.to_csv('dataset_filled_contdate_time.csv', index= False)