In [18]:
import sqlite3
import numpy as np
import pandas as pd
import sqlite3

conn = sqlite3.connect('../FPA_FOD_20170508.sqlite')
print("Connection Successful")
df = pd.read_sql("SELECT * from Fires",con=conn)
df.shape

Connection Successful

(1880465, 39)

In [19]:
df['DISCOVERY_DATE'] = pd.to_datetime(df['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
df['CONT_DATE'] = pd.to_datetime(df['CONT_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
# Changing the data format for the above columns

In [20]:
codes = [1.0, 6.0, 7.0]
df = df.loc[df['STAT_CAUSE_CODE'].isin(codes)]
df.shape

(593378, 39)

In [21]:
drop_columns = ['OBJECTID','FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'DISCOVERY_DOY',       
       'CONT_DOY',  'OWNER_CODE',
       'FIPS_CODE', 'FIPS_NAME', 'Shape']
df.drop(drop_columns, axis=1, inplace=True)

In [22]:
df.columns

Index(['FOD_ID', 'NWCG_REPORTING_AGENCY', 'SOURCE_REPORTING_UNIT_NAME',
       'FIRE_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_TIME',
       'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE', 'CONT_TIME',
       'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR',
       'STATE', 'COUNTY'],
      dtype='object')

In [23]:
df.shape

(593378, 18)

In [24]:
df_by_code_cause = df.groupby(['STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR'])
df_by_code_cause.describe()

                                    FOD_ID                                     \
                                     count          mean           std    min
STAT_CAUSE_CODE STAT_CAUSE_DESCR
1.0             Lightning         278468.0  4.335486e+07  9.318308e+07    2.0
6.0             Railroad           33455.0  2.129531e+07  6.517306e+07  101.0
7.0             Arson             281455.0  3.483937e+07  8.316121e+07   38.0

                                                                   \
                                       25%        50%         75%
STAT_CAUSE_CODE STAT_CAUSE_DESCR
1.0             Lightning         132668.5   338362.5  1430521.25
6.0             Railroad          967767.0  1097012.0  1167276.50
7.0             Arson             553941.5   988250.0  1750176.00

                                              FIRE_YEAR               ...  \
                                          max     count         mean  ...
STAT_CAUSE_CODE STAT_CAUSE_DESCR                                      ...
1.0             Lightning         300348361.0  278468.0  2003.264210  ...
6.0             Railroad          300348033.0   33455.0  2000.091735  ...
7.0             Arson             300348354.0  281455.0  2002.615285  ...

                                   LATITUDE           LONGITUDE              \
                                        75%       max     count        mean
STAT_CAUSE_CODE STAT_CAUSE_DESCR
1.0             Lightning         44.033070  70.13810  278468.0 -108.226305
6.0             Railroad          37.450996  64.88333   33455.0  -87.653326
7.0             Arson             38.156111  67.06630  281455.0  -90.262680

                                                                             \
                                        std       min         25%       50%
STAT_CAUSE_CODE STAT_CAUSE_DESCR
1.0             Lightning         14.320107 -170.3694 -117.578143 -111.4700
6.0             Railroad          10.888933 -157.9758  -89.646652  -83.2102
7.0             Arson             12.268509 -163.2664  -94.416413  -88.1336


                                         75%        max
STAT_CAUSE_CODE STAT_CAUSE_DESCR
1.0             Lightning        -105.056100 -67.158333
6.0             Railroad          -81.700000 -68.066664
7.0             Arson             -82.090324 -65.256944

[3 rows x 40 columns]

In [25]:
df.to_csv('sampled_dataset_reduced.csv', index= False)

In [26]:
conn.close()