In [1]:
import sqlite3

In [2]:
import numpy as np
import pandas as pd
import sqlite3

conn = sqlite3.connect('FPA_FOD_20170508.sqlite')
print("Connection Successful")
df = pd.read_sql("SELECT * from Fires",con=conn)
df
# conn.close()

Connection Successful

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1880460,1880461,300348363,2015CAIRS29019636,NONFED,ST-CACDF,ST/C&L,USCASHU,Shasta-Trinity Unit,CASHU,Shasta-Trinity Unit,...,A,40.481637,-122.389375,13.0,STATE OR PRIVATE,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00P\xb8\x1e\x85\xeb\x9...
1880461,1880462,300348373,2015CAIRS29217935,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,A,37.617619,-120.938570,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...
1880462,1880463,300348375,2015CAIRS28364460,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,A,37.617619,-120.938570,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x00\x80\xbe\x88\x11...
1880463,1880464,300348377,2015CAIRS29218079,NONFED,ST-CACDF,ST/C&L,USCATCU,Tuolumne-Calaveras Unit,CATCU,Tuolumne-Calaveras Unit,...,B,37.672235,-120.898356,12.0,MUNICIPAL/LOCAL,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00x\xba_\xaa~9^\xc0\xb...
1880464,1880465,300348399,2015CAIRS26733926,NONFED,ST-CACDF,ST/C&L,USCABDU,San Bernardino Unit,CABDU,CDF - San Bernardino Unit,...,A,34.263217,-116.830950,13.0,STATE OR PRIVATE,CA,None,None,None,b'\x00\x01\xad\x10\x00\x00\x1c\xa7\xe8H.5]\xc0...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880465 entries, 0 to 1880464
Data columns (total 39 columns):
 #   Column                      Dtype
---  ------                      -----
 0   OBJECTID                    int64
 1   FOD_ID                      int64
 2   FPA_ID                      object
 3   SOURCE_SYSTEM_TYPE          object
 4   SOURCE_SYSTEM               object
 5   NWCG_REPORTING_AGENCY       object
 6   NWCG_REPORTING_UNIT_ID      object
 7   NWCG_REPORTING_UNIT_NAME    object
 8   SOURCE_REPORTING_UNIT       object
 9   SOURCE_REPORTING_UNIT_NAME  object
 10  LOCAL_FIRE_REPORT_ID        object
 11  LOCAL_INCIDENT_ID           object
 12  FIRE_CODE                   object
 13  FIRE_NAME                   object
 14  ICS_209_INCIDENT_NUMBER     object
 15  ICS_209_NAME                object
 16  MTBS_ID                     object
 17  MTBS_FIRE_NAME              object
 18  COMPLEX_NAME                object
 19  FIRE_YEAR                   int64
 20  DISCOVERY_DATE              float64
 21  DISCOVERY_DOY               int64
 22  DISCOVERY_TIME              object
 23  STAT_CAUSE_CODE             float64
 24  STAT_CAUSE_DESCR            object
 25  CONT_DATE                   float64
 26  CONT_DOY                    float64
 27  CONT_TIME                   object
 28  FIRE_SIZE                   float64
 29  FIRE_SIZE_CLASS             object
 30  LATITUDE                    float64
 31  LONGITUDE                   float64
 32  OWNER_CODE                  float64
 33  OWNER_DESCR                 object
 34  STATE                       object
 35  COUNTY                      object
 36  FIPS_CODE                   object
 37  FIPS_NAME                   object
 38  Shape                       object
dtypes: float64(8), int64(4), object(27)
memory usage: 559.5+ MB

In [4]:
df['DISCOVERY_DATE'] = pd.to_datetime(df['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
df['CONT_DATE'] = pd.to_datetime(df['CONT_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
# Changing the data format for the above columns

### Code to check the missing values.

In [5]:
total= df.isnull().sum().sort_values(ascending = False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending = False)
missing_data = pd.concat([total, percent], axis=1, keys = ['Total missing values', 'Percentage of missing values'])
missing_data

                            Total missing values  Percentage of missing values
COMPLEX_NAME                             1875282                      0.997244
MTBS_ID                                  1869462                      0.994149
MTBS_FIRE_NAME                           1869462                      0.994149
ICS_209_INCIDENT_NUMBER                  1854748                      0.986324
ICS_209_NAME                             1854748                      0.986324
FIRE_CODE                                1555636                      0.827261
LOCAL_FIRE_REPORT_ID                     1459286                      0.776024
CONT_TIME                                 972173                      0.516985
FIRE_NAME                                 957189                      0.509017
CONT_DOY                                  891531                      0.474101
CONT_DATE                                 891531                      0.474101
DISCOVERY_TIME                            882638                      0.469372
LOCAL_INCIDENT_ID                         820821                      0.436499
FIPS_NAME                                 678148                      0.360628
COUNTY                                    678148                      0.360628
FIPS_CODE                                 678148                      0.360628
NWCG_REPORTING_UNIT_NAME                       0                      0.000000
NWCG_REPORTING_UNIT_ID                         0                      0.000000
NWCG_REPORTING_AGENCY                          0                      0.000000
SOURCE_REPORTING_UNIT                          0                      0.000000
SOURCE_REPORTING_UNIT_NAME                     0                      0.000000
SOURCE_SYSTEM                                  0                      0.000000
SOURCE_SYSTEM_TYPE                             0                      0.000000
FPA_ID                                         0                      0.000000
FOD_ID                                         0                      0.000000
Shape                                          0                      0.000000
FIRE_YEAR                                      0                      0.000000
DISCOVERY_DATE                                 0                      0.000000
DISCOVERY_DOY                                  0                      0.000000
STAT_CAUSE_CODE                                0                      0.000000
STAT_CAUSE_DESCR                               0                      0.000000
FIRE_SIZE                                      0                      0.000000
FIRE_SIZE_CLASS                                0                      0.000000
LATITUDE                                       0                      0.000000
LONGITUDE                                      0                      0.000000
OWNER_CODE                                     0                      0.000000
OWNER_DESCR                                    0                      0.000000
STATE                                          0                      0.000000
OBJECTID                                       0                      0.000000

## SAMPLING TECHNIQUE 1:
Using Simple Sample method of Pandas DF. Taking 20% of the original data. (376093 entries)

In [6]:
fires_sample = df.sample(frac=2/10, random_state=10)
fires_sample.info()
# taking 20% of the data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376093 entries, 1466193 to 1076111
Data columns (total 39 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   OBJECTID                    376093 non-null  int64
 1   FOD_ID                      376093 non-null  int64
 2   FPA_ID                      376093 non-null  object
 3   SOURCE_SYSTEM_TYPE          376093 non-null  object
 4   SOURCE_SYSTEM               376093 non-null  object
 5   NWCG_REPORTING_AGENCY       376093 non-null  object
 6   NWCG_REPORTING_UNIT_ID      376093 non-null  object
 7   NWCG_REPORTING_UNIT_NAME    376093 non-null  object
 8   SOURCE_REPORTING_UNIT       376093 non-null  object
 9   SOURCE_REPORTING_UNIT_NAME  376093 non-null  object
 10  LOCAL_FIRE_REPORT_ID        84369 non-null   object
 11  LOCAL_INCIDENT_ID           212091 non-null  object
 12  FIRE_CODE                   65117 non-null   object
 13  FIRE_NAME                   185222 non-null  object
 14  ICS_209_INCIDENT_NUMBER     5155 non-null    object
 15  ICS_209_NAME                5155 non-null    object
 16  MTBS_ID                     2225 non-null    object
 17  MTBS_FIRE_NAME              2225 non-null    object
 18  COMPLEX_NAME                1021 non-null    object
 19  FIRE_YEAR                   376093 non-null  int64
 20  DISCOVERY_DATE              376093 non-null  datetime64[ns]
 21  DISCOVERY_DOY               376093 non-null  int64
 22  DISCOVERY_TIME              200145 non-null  object
 23  STAT_CAUSE_CODE             376093 non-null  float64
 24  STAT_CAUSE_DESCR            376093 non-null  object
 25  CONT_DATE                   198126 non-null  datetime64[ns]
 26  CONT_DOY                    198126 non-null  float64
 27  CONT_TIME                   182067 non-null  object
 28  FIRE_SIZE                   376093 non-null  float64
 29  FIRE_SIZE_CLASS             376093 non-null  object
 30  LATITUDE                    376093 non-null  float64
 31  LONGITUDE                   376093 non-null  float64
 32  OWNER_CODE                  376093 non-null  float64
 33  OWNER_DESCR                 376093 non-null  object
 34  STATE                       376093 non-null  object
 35  COUNTY                      240045 non-null  object
 36  FIPS_CODE                   240045 non-null  object
 37  FIPS_NAME                   240045 non-null  object
 38  Shape                       376093 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(4), object(27)
memory usage: 114.8+ MB

## SAMPLING TECHNIQUE 2:
Taking 15K samples from each year.

In [7]:
df1 = pd.read_sql("SELECT * FROM Fires WHERE FIRE_YEAR = 2015 LIMIT 15000",con=conn)

In [8]:
df1.shape

(15000, 39)

In [9]:
for i in range(1992,2014):
    Query1 = "SELECT * FROM Fires WHERE FIRE_YEAR = ? LIMIT 15000"
    df1 = df1.append(pd.read_sql(Query1, conn, params = [i]))

In [12]:
df1.shape

(345000, 39)

### Sampling data based on year(getting equal number of records per year)

In [20]:
new_df = df.groupby('FIRE_YEAR').apply(lambda x: x.sample(n=1000)).reset_index(drop = True)

In [21]:
new_df.size

936000

In [33]:
uniq = df['FIRE_YEAR'].unique()
new_df['FIRE_YEAR'].value_counts()

2015    1000
1999    1000
2001    1000
2002    1000
2003    1000
2004    1000
2005    1000
2006    1000
2007    1000
1992    1000
2008    1000
1993    1000
2009    1000
1994    1000
2010    1000
1995    1000
2011    1000
1996    1000
2012    1000
1997    1000
2013    1000
1998    1000
2014    1000
2000    1000
Name: FIRE_YEAR, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
plt.